*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
!/app/build/outputs/mapping
/captures
/app/build/*

/.idea
UmengEventName.txt
*.log
gradlew
gradlew.bat
/app/*/release
/app/oppo/*
/app/src/test/test.txt
/app/.cxx/*